@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
<script src="https://cdn.ckeditor.com/ckeditor5/35.2.1/classic/ckeditor.js"></script>
<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-message-square  bg-c-blue"></i>
                <div class="d-inline">
                    <h5>@Html.Raw(@ViewData["Subject"])</h5>
                    <span>@Html.Raw(@ViewData["NotificationDetails"])</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="index.html"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Dashboard</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-12 col-md-12" style="overflow-y: scroll; max-height:200px;">
    <div class="card latest-update-card">
        <div class="card-header">
            <h5>User's Comments':</h5>

        </div>
        <div class="row p-t-20 p-b-30" style="padding:20px;">
            <div class="col-auto text-right update-meta p-r-0">
                <i class="feather icon-message-square  bg-c-blue-lg update-icon"></i>
            </div>
            <div class="col p-l-20">
                <a href="/DisplayDetails/Index"><h10> <i class="feather icon-message-user bg-c-blue-lg update-icon"></i>Mustafa Juma  |   @DateTime.Now</h10></a>

                <p class="text-muted m-b-0 text-black">Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja </p>
            </div>
        </div>
        <div class="row p-t-20 p-b-30" style="padding:20px;">
            <div class="col-auto text-right update-meta p-r-0">
                <i class="feather icon-message-square bg-c-blue-lg update-icon"></i>
            </div>
            <div class="col p-l-20">
                <a href="/DisplayDetails/Index"><h10>Mustafa Juma  |   @DateTime.Now</h10></a>
                <p class="text-muted m-b-0 text-black">Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja</p>
            </div>
        </div>
        <div class="row p-t-20 p-b-30" style="padding:20px;">
            <div class="col-auto text-right update-meta p-r-0">
                <i class="feather icon-message-square  update-icon"></i>
            </div>
            <div class="col p-l-20">
                <a href="/DisplayDetails/Index"><h10>Mustafa Juma  |   @DateTime.Now</h10></a>
                <p class="text-muted m-b-0 text-black">Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja</p>
            </div>
        </div>
        <div class="row p-t-20 p-b-30" style="padding:20px;">
            <div class="col-auto text-right update-meta p-r-0">
                <i class="feather icon-message-square  update-icon"></i>
            </div>
            <div class="col p-l-20">
                <a href="/DisplayDetails/Index"><h10>Mustafa Juma  |   @DateTime.Now</h10></a>
                <p class="text-muted m-b-0 text-black text-blacktext-black">Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja </p>
            </div>
        </div>
        <div class="row p-t-20 p-b-30" style="padding:20px;">
            <div class="col-auto text-right update-meta p-r-0">
                <i class="feather icon-message-square   update-icon"></i>
            </div>
            <div class="col p-l-20">
                <a href="/DisplayDetails/Index"><h10>Mustafa Juma  |   @DateTime.Now</h10></a>
                <p class="text-muted m-b-0 text-black">Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja </p>
            </div>
        </div>
        <div class="row p-t-20 p-b-30" style="padding:20px;">
            <div class="col-auto text-right update-meta p-r-0">
                <i class="feather icon-message-square   update-icon"></i>
            </div>
            <div class="col p-l-20">
                <a href="/DisplayDetails/Index"><h10>Mustafa Juma  |   @DateTime.Now</h10></a>
                <p class="text-muted m-b-0 text-black">Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja </p>
            </div>
        </div>
        <div class="row p-t-20 p-b-30" style="padding:20px;">
            <div class="col-auto text-right update-meta p-r-0">
                <i class="feather icon-message-square  update-icon"></i>
            </div>
            <div class="col p-l-20">
                <a href="/DisplayDetails/Index"><h10>Mustafa Juma  |   @DateTime.Now</h10></a>
                <p class="text-muted m-b-0 text-black">Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja </p>
            </div>
        </div>
        <div class="row p-t-20 p-b-30" style="padding:20px;">
            <div class="col-auto text-right update-meta p-r-0">
                <i class="feather icon-message-square   update-icon"></i>
            </div>
            <div class="col p-l-20">
                <a href="/DisplayDetails/Index"><h10>Mustafa Juma  |   @DateTime.Now</h10></a>
                <p class="text-muted m-b-0 text-black">Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja Mustfa utakuwa kikaoni kesho na jamaa mmoja </p>
            </div>
        </div>
    </div>
</div>


<div class="col-xl-12 col-md-12" style="margin-top:30px">
    <div class="card latest-update-card">
        <div class="card-header">
            <h5>Add your comment</h5>
        </div>

        <div class="card-block">

            <div class="row">
                <div class="col-sm-6 col-xl-6 m-b-30">

                    <input type="text" class="form-control position-class" placeholder="PFNumber..." maxlength="25">
                </div>
                <div class="col-sm-6 col-xl-6 m-b-30">

                    <input type="text" class="form-control position-class" placeholder="Password" maxlength="25">
                </div>
                <div class="col-sm-12 col-xl-12">

                    <div id="editor">This is some sample content.</div>
                    <script>
                        ClassicEditor
                            .create(document.querySelector('#editor'))
                            .then(editor => {
                                console.log(editor);
                            })
                            .catch(error => {
                                console.error(error);
                            });
                    </script>
                </div>
            </div>
        </div>
    </div>

</div>



